/* Some tweaks to change various things in Discord's interface. /*

/* Hide Nitro icon on profile banners */
.clickable_eece8d.premiumIconWrapper__83620 {
    display: none;
}
/* Hide Stickers Button in the chatbox */
.stickerButton__8af38 {
    display: none;
}
/* Remove Nitro Tab from Direct Messages */
[href="/store"] {
    display: none;
}
/* Remove the Shop Tab from Direct Messages */
[href='/shop'] {
    display: none;
}
/* Remove Guild seperator on sidebar */
.guildSeparator__75928 {
    display: none;
}
/*-- Smaller side bar section start -- */
/* Closed folder icon padding */
.closedFolderIconWrapper__722d5 {
    padding: 5px; 
}
/* Left sidebar size */
.guilds__2b93a {
    width: 61px;
}
/* Guild icon size */
.svg__34dd4 {
    position: absolute;
    width: 35px;
    height: auto;
    border-radius: 50%;
}
/* Folder offset and transparent Direct Messages button */
.expandedFolderBackground_b1385f { 
    position: absolute;
    width: 38px;
    top: 7px;
    bottom: 20px;
}
/* Slightly increase folder size */
div.wrapper__832f2 > .listItem__48528 > div > .wrapper__9916c > .svg__34dd4 {
    width: 38px;
    height: 38px;
}
/* Guild Icon Offset */
.blobContainer_c44493 > .wrapper__9916c > .svg__34dd4 {
    left: 2px !important;
}
/* DM and call icon offset */
.listItem__48528 > .listItemWrapper__3d465 > .wrapper__9916c {
    left: 2px !important;
}
.upperBadge__00ad0 {
    top: -2px;
    left: 21px;
    scale: 0.8;
}
.lowerBadge_e89e22 {
    top: 20px;
    left: 21px;
    scale: 0.8;
}
/*-- Smaller side bar section end -- */
