/* Some tweaks to change various things in Discord's interface. Made by xKiisa /*

/* Hide Nitro icon on profile banners */
.clickable_eece8d.premiumIconWrapper__83620 {
    display: none;
}
/* Hide Stickers Button in the chatbox */
.stickerButton__8af38 {
    display: none;
}
/* Remove Nitro Tab from Direct Messages */
li.container__8759a.channel_c21703:nth-of-type(2) {
    display: none;
}
/* Remove the Shop Tab */
li.container__8759a.channel_c21703:nth-of-type(3) {
    display: none;
}
/* Remove Guild seperator on sidebar */
.guildSeparator_dcb3cc {
    display: none;
}
/* Smaller side bar */
.closedFolderIconWrapper__7321f {
    padding: 5px;
}
.blobContainer__5ee50 .wrapper__3af0b > .svg_ad7356 {
    position: absolute;
    left: 6px;
    width: 35px;
    height: auto;
    border-radius: 50%;
}
.guilds__2b93a {
    width: 65px;
    background-color: transparent;
}
.scrollerBase_dc3aa9.none__51a8f.scroller__3d071 {
    padding: 0;
}
/* Transparent folder and Direct Messages button */
.childWrapper__01b9c {
    background-color: transparent !important;
}
.folderIconWrapper__72239 {
    background-color: transparent !important;
}
.folder__17546 {
    background-color: transparent !important;
}
